@font-face {
    font-family: Josefin;
    src: url('JosefinSans-VariableFont_wght.ttf') format('ttf');
    font-style: normal;
    font-weight: 100 200 300 400 500 600 700;
}

@font-face {
    font-family: Josefin;
    src: url('JosefinSans-Italic-VariableFont_wght.ttf') format('ttf');
    font-style: italic;
    font-weight: 100 200 300 400 500 600 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


  @media screen and (min-width: 750px) {
    .page-width {
      padding: 0 5rem;
    }
  }

  .body-scroll[menu-open]{
    @apply md:overflow-auto;
  }

  .show{
    @apply visible translate-x-0
    /* visibility: visible;
    transform: translate(0); */
    
  }
  
  div#mobile-menu[open] #icon-burger-menu {
   @apply hidden
  }

div#mobile-menu[open] #icon-menu-close {
    @apply block
  }
 